@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

html {
  overflow-x: hidden;
}



.radio-label {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.radio-background {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #d1d5db; /* Gray background */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  display: none; /* Hide by default */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type='radio']:checked + .radio-label .radio-background {
  background-color: transparent; /* Remove gray background for selected */
}

input[type='radio']:checked + .radio-label .radio-background .checkmark {
  display: block; /* Show checkmark image for selected */
}

/* Default checked radio button styling */
input#general:checked + .radio-label .radio-background {
  background-color: transparent; /* Transparent for default checked */
}

input#general:checked + .radio-label .radio-background .checkmark {
  display: block; /* Show checkmark for default checked */
}





.tiktok-section-container__config {
    overflow: hidden;
}

.previous-click, .next-click {
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: 9;
  cursor: pointer;
}

.previous-click {
  left: 0;
}

.next-click {
  right: 0;
}



.video-player-container__main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    margin-top: 30px;
}

.video-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 40px;
    padding: 0;
    width: 550px;
    height: 470px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px; 
  }

  .video-player-container__left {
    opacity: 0.3;
    transform-style: preserve-3d;
    perspective: 1200px;
    transform: translateX(-100%) translateY(-5%) scale(0.9) rotateY(75deg);
  }
  
  .video-player-container__right {
    opacity: 0.3;
    transform-style: preserve-3d;
    perspective: 1200px;
    transform: translateX(100%) translateY(-5%) scale(0.9) rotateY(-75deg);
  }

  .video-player-container__left,
.video-player-container__right {
    position: absolute;
    z-index: -999;
    pointer-events: none;
}
  
  .video-player, .video-player-container__left,
  .video-player-container__right{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to top right,
        rgba(75, 59, 49, 0.8) 10%,
        rgba(255, 255, 255, 0.2) 40%,
        rgba(75, 59, 49, 0.8) 65%,
        rgba(255, 255, 255, 0.2) 90%
      );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 32px;
    padding: 5px 5px 10px 5px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    cursor: pointer;
  }


  .video-player::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/NoiseTexture.png');
    opacity: 0.4; /* Adjust opacity to your liking */
    pointer-events: none; /* Make sure it doesn't interfere with user interactions */
  }
  
  .video {
   width: 57.9%;
   height: 100%;
   border: none;
  }
  
  .video video {
    border-radius: 32px;
    border: none;
  }
  
  .comments-section {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 100%;
    position: relative;
  }
  
  .comments-header {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .comments-header h3{
    font-weight: 400;
  }
  
  .comments {
    overflow-y: auto;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    /* border-bottom-right-radius: 30px; */
    gap: 12px;
  }

  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.comments::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for other browsers */
  .comments {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .user {
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 8px 0;
    opacity: 0.7;
  }

  .actual-comment {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 20px 0;
    min-width: 180px;
  }

  .like-n-comment img {
    width: 32px;
    height: 32px;
  }

  .like-n-comment {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
  }

  .user-comment-container {
    display: flex;
    gap: 10px;
  }
  
  .comment {
    background: #2c2c2e;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* margin-bottom: 5px; */
  }

  .transition-block {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 285px;
    height: 100px;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0)
      );
      /* border-radius: 40px; */
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      pointer-events: none;
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 270px;
    height: 45px;
    padding: 10px 25px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    /* border-radius: 20px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    gap: 10px;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    cursor: default;
  }
  
  .controls button {
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: default;
  }

  .controls button img {
    width: 20px;
  }


  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
  }
  
  .nav-indicator {
    width: 90px;
    height: 8px;
    background: white;
    border-radius: 5px;
  }

  .nav-prev, .nav-next {
    width: 25px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
  }


  .nav-prev:hover, .nav-next:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }


  /* 3xl */
@media (max-width: 2560px) {
  .previous-click, .next-click {
    height: 100%;
    width: 900px;
  }
}

/* 2xl */
@media (max-width: 1536px) {
  .previous-click, .next-click {
    height: 100%;
    width: 380px;
  }

}

/* xl */
@media (max-width: 1280px) {
  .previous-click, .next-click {
    height: 100%;
    width: 250px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .previous-click, .next-click {
    height: 100%;
    width: 150px;
  }
}

/* lg */
@media (max-width: 864px) {
  .previous-click, .next-click {
    height: 100%;
    width: 100px;
  }
}

/* md */
@media (max-width: 768px) {
  .previous-click, .next-click {
    height: 100%;
    width: 80px;
  }
}

/* sm */
@media (max-width: 640px) {
  .previous-click, .next-click {
    height: 100%;
    width: 35px;
  }
}

/* xs */
@media (max-width: 475px) {
  .previous-click, .next-click {
    height: 100%;
    width: 0px;
  }
}

.cursor__ball {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  mix-blend-mode: difference;
}


.cursor__ball--big {
  width: 50px;
  height: 50px;
  border: none;
}

.cursor__ball--big circle {
  /* r: 20; */
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2;
}

.cursor__ball--small {
  width: 20px;
  height: 20px;
  border: none;
}

.cursor__ball--small circle {
  /* r: 9; */
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1;
}


/* md */
@media (max-width: 768px) {

  .cursor__ball {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
  transition: background-color 1s;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;

}

:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
background-color: rgba(34, 34, 34, 1);
}


::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
}